// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jambotron h1 {
  color: yellow;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  padding-bottom: 15px;
}

h2 {
  color: lightgreen;
}

.card-text {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}
