// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.jambotron {
  color: yellow;
  background-image: url("top_back.jpeg")center no-repeat;
  background-size: cover;
}

.jambotron h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  padding-bottom: 15px;
}

body {
    background-image: url("top_back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
  color: lightgreen;
}