<footer class="py-4 d-flex fixed-bottom bg-dark">
  <div class="container" style="width: auto;">
    <span class="text-muted small"><a href="https://fallout.bethesda.net/ja">fallout76公式サイト</a>
    <span class="text-muted small">Simple Board by Ruby on Rails & Bootstrap 4</span>
  </div>
</footer>