<footer class="footer fixed-bottom py-3 bg-dark">
  <div class="container">
    <span class="text-muted small"><a href="https://fallout.bethesda.net/ja">fallout76公式サイト</a>
    <span class="text-muted small">Simple Board by Ruby on Rails & Bootstrap 4</span>
  </div>
</footer>