<footer class="py-3 bg-light">
      <div class="container">
        <span class="text-muted small"><a href="https://fallout.bethesda.net/ja">fallout76公式サイト</a>
        <span class="text-muted small">Simple Board by Ruby on Rails & Bootstrap 4</span>
      </div>
    </footer>