<div class="fixed-top">
<header class="navbar navbar-expand-lg sticky-top navbar-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item top">
        <a class="nav-link" href="/posts">Top<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item weapon">
        <a class="nav-link weapon" href="/weapons">Weapon</a>
      </li>
      <li class="nav-item perk">
        <a class="nav-link perk" href="/perks">Perk</a>
      </li>
    </ul>
  </div>
</header>
</div>